!!! 5
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(name="author", content="Wookets")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    
    title PnL
    link(href="scripts/main.css", rel="stylesheet", type="text/css")
    
  body
    h2 PnL
    